@import url("https://fonts.googleapis.com/css?family=Lato|Lora|Ubuntu+Mono");
@media (min-width: 42em) {
  h1 {
    font-size: 6.2em; }

  h2 {
    font-size: 4em; }

  h3 {
    font-size: 3.125em; }

  h4 {
    font-size: 2em; }

  h5 {
    font-size: 1.563em; }

  h6 {
    font-size: 1em; }

  .wrapper {
    padding-left: 5em;
    padding-right: 5em; } }
/*=================== GENERAL STYLE ======================*/
body {
  font: 100%/1.6 "Lato", sans-serif;
  font-size: 1.618em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #000;
  text-align: left;
  background: linear-gradient(to top, #063342 5%, #f4cb89 95%);
  width: 100%;
  min-height: 100vh; }

.wrapper {
  margin: 0 0.5em; }

section {
  text-align: center;
  padding-top: 10em;
  margin: auto; }
  section .section-title {
    font-style: italic;
    font-size: 3.125em;
    font-family: "Lato", sans-serif;
    display: inline-block; }

footer {
  margin-top: 5em;
  text-align: center; }

.highlight {
  width: 100%;
  height: 40px;
  background: linear-gradient(to right, #063342, #d9042b);
  position: relative;
  top: -40px;
  z-index: -1;
  opacity: 0.7; }

.slide-in {
  transform: translateX(100px);
  animation: slide-in .5s ease forwards; }

@keyframes slide-in {
  to {
    transform: translateX(0); } }
.come-in {
  transform: translateY(200px);
  animation: come-in 3s ease forwards;
  /* So they look staggered */ }
  .come-in:nth-child(odd) {
    animation-duration: 1.5s; }

@keyframes come-in {
  to {
    transform: translateY(0); } }
.turn-right {
  animation: turn-right .5s ease-in-out forwards; }
  .turn-right:nth-child(1) {
    animation-delay: .1s; }
  .turn-right:nth-child(2) {
    animation-delay: .3s; }
  .turn-right:nth-child(3) {
    animation-delay: .1s; }
  .turn-right:nth-child(4) {
    animation-delay: .5s; }
  .turn-right:nth-child(5) {
    animation-delay: .3s; }
  .turn-right:nth-child(6) {
    animation-delay: .7s; }
  .turn-right:nth-child(7) {
    animation-delay: .5s; }

@keyframes turn-right {
  to {
    transform: translateX(35px); } }
/*=================== END OF GENERAL STYLE ======================*/
/*=================== HEADER STYLE ======================*/
.nav-bg {
  background: rgba(244, 203, 137, 0.1); }

.nav-show {
  background: rgba(244, 203, 137, 0.9);
  box-shadow: 0 1px 2px rgba(107, 12, 34, 0.6); }

.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; }

.navigation-bar {
  padding: 0.2em;
  margin-bottom: 3em; }

#logo-img {
  width: 70px;
  height: 70px;
  transition: all 2s ease-in-out;
  animation: fadeIn 2s;
  position: relative;
  left: 0.2em; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#burger-nav {
  float: right;
  position: relative;
  top: 0.7em;
  right: 0.2em;
  cursor: pointer;
  width: 50px; }

#burger-nav span {
  background: #6b0c22;
  display: block;
  text-align: center;
  width: 50px;
  height: 3px;
  margin-bottom: 9.5px;
  position: relative;
  top: 0;
  transition: all ease-in-out .4s; }

#burger-nav.open {
  z-index: 333; }
  #burger-nav.open span:nth-child(1) {
    transform: rotate(45deg);
    background: #fff;
    top: 13px; }
  #burger-nav.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: -13px;
    background: #fff; }
  #burger-nav.open span:nth-child(2) {
    width: 0;
    opacity: 0; }

.overlay {
  position: fixed;
  background: #063342;
  top: 0;
  right: 0;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease-in-out;
  overflow: hidden; }
  .overlay.drop {
    opacity: .8;
    visibility: visible;
    width: 100%;
    height: 100%; }
    .overlay.drop li {
      display: block;
      animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
      animation-delay: .4s;
      transform: rotate(-7deg);
      transform-origin: right bottom; }
      .overlay.drop li:nth-of-type(2) {
        animation-delay: .5s; }
      .overlay.drop li:nth-of-type(3) {
        animation-delay: .6s; }
      .overlay.drop li:nth-of-type(4) {
        animation-delay: .7s; }
      .overlay.drop li:nth-of-type(5) {
        animation-delay: .8s; }

.overlayMenu {
  position: absolute;
  text-align: right;
  right: 10vw;
  top: 20%; }
  .overlayMenu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100%; }
    .overlayMenu ul li {
      display: block;
      position: relative;
      opacity: 0;
      width: 100%; }
      .overlayMenu ul li a {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        font-size: 2.618rem;
        padding: 10px 40px 10px 40px;
        margin: 5px 0;
        transition: .5s; }
        .overlayMenu ul li a:hover, .overlayMenu ul li a:active, .overlayMenu ul li a:focus {
          transform: translateX(-2px);
          padding-left: 80px;
          color: #f4cb89; }

.locked {
  overflow: hidden; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px; }
  100% {
    opacity: 1;
    left: 0;
    transform: rotate(0deg); } }
/*=================== END OF HEADER STYLE ======================*/
/*=================== INTRO SECTION ======================*/
#intro {
  font-family: "Lato", sans-serif;
  padding-top: 5em; }
  #intro p:nth-child(3) {
    color: #063342;
    font-size: 1.194em;
    text-transform: uppercase; }

/*=================== END OF INTRO SECTION ======================*/
/*=================== PORTFOLIO SECTION ======================*/
#portfolio {
  display: inline-block;
  padding: 10em 0 0;
  text-align: center;
  width: 100%;
  margin: auto; }
  #portfolio section {
    margin-top: -10em;
    margin-bottom: 2em; }
  #portfolio figure {
    width: 350px;
    margin: auto; }
  #portfolio figcaption a {
    text-decoration: none;
    color: #ccc;
    font-size: 1.618em; }
    #portfolio figcaption a:hover {
      background: linear-gradient(to right, #063342, #d9042b);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

.project-nav {
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
  text-decoration: none;
  transition: all 0.1s;
  -webkit-transition: all 0.1s; }
  .project-nav .fancy-button {
    font-family: "Lato", sans-serif;
    list-style: none;
    border-radius: 10px;
    width: 25vh;
    background: rgba(107, 12, 34, 0.8);
    border-bottom: 5px solid #6b0c22;
    margin: 0.5em;
    text-align: center;
    padding: 0.5em;
    font-size: 0.85em;
    text-shadow: 0 -1px 1px #222;
    color: #fefefe; }
    .project-nav .fancy-button:hover {
      cursor: pointer; }
    .project-nav .fancy-button:active {
      -webkit-transform: translate(0px, 5px);
      -moz-transform: translate(0px, 5px);
      -o-transform: translate(0px, 5px);
      transform: translate(0px, 5px);
      border-bottom: 1px solid #6b0c22; }

.screen {
  width: 350px;
  height: 250px;
  position: relative;
  z-index: -1;
  margin: auto; }

/*=================== END OF PORTFOLIO SECTION ======================*/
/*=================== SKILLS SECTION ======================*/
#skill-set {
  width: 80%;
  margin: auto;
  padding-top: 30px;
  height: auto;
  overflow: none; }

.skill {
  position: relative;
  display: block;
  margin: 0 auto 15px;
  width: 100%;
  background: #f4cb89;
  height: 30px;
  transform: translateX(10px);
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color; }

.skill-title {
  position: absolute;
  float: left;
  left: -90px;
  width: 90px;
  height: 100%;
  color: #fff;
  background: #6b0c22;
  font-size: 0.7em; }

.skillbar-bar {
  position: absolute;
  background: linear-gradient(to left, #d9042b, #063342);
  height: 30px;
  width: 0px; }

.skill-percentage {
  position: absolute;
  float: right;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  color: #6b0c22; }

/*=================== END OF SKILLS SECTION ======================*/
/*=================== CONTACT SECTION ======================*/
#contact h3 {
  font-size: 1.618em;
  padding-top: 3em;
  padding-bottom: 40px; }
#contact ul {
  padding: 0;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  #contact ul a li {
    list-style: none; }
    #contact ul a li img {
      width: 60px;
      height: 60px; }
  #contact ul a:hover {
    cursor: pointer; }

/*=================== END OF CONTACT SECTION ======================*/

/*# sourceMappingURL=style.css.map */
