@media only screen and (min-width: 42em) {
  h1 {font-size: 6.2em;}
  h2 {font-size: 4em;}
  h3 {font-size: 3.125em;}
  h4 {font-size: 2em;}
  h5 {font-size: 1.563em;}
  h6 {font-size: 1em;}

  .wrapper {
    padding-left: 5em;
    padding-right: 5em;
  }
}
