@media (min-width: 42em) {
//introduction
.introduction h1.job-title {font-size: 5.65em;}
.introduction h1, .introduction p {padding-left: 25px;}
div.introduction {
  min-height: 90vh;
  padding: 35vh 0.5em 0;
}

//make font-size bigger in large screen
  #about .section-title,
  #projects .section-title,
  #contact .section-title,
  #skills .section-title {
    font-size: 5em;
  }
  .introduction p {
    font-size: 2.25em;
  }
  h5,p,figcaption, .skill-title, .skill-percentage {
    font-size: 1.194em;
  }

  section#project-weather.card.hoverable,
  section#project-simon.card.hoverable,
  section#project-tictactoe.card.hoverable,
  section#project-calculator.card.hoverable,
  section#project-pomodoro.card.hoverable,
  section#project-leaderboard.card.hoverable {
    width: 25vw;
  }

  .wrapper {
    padding-left: 10%;
    padding-right: 10%;
  }

  div.highlight {
    top: -60px;
    height: 60px;
  }

}
