@import url('https://fonts.googleapis.com/css?family=Lato|Lora|Ubuntu+Mono');
@import "large-screen";
//
@mixin border-radius($para) {
  border-radius:$para;
  -moz-border-radius:$para;
  -webkit-border-radius:$para;
  -o-border-radius:$para;
}
@mixin transition($para) {
  -webkit-transition: $para;
	-moz-transition: $para;
	-o-transition: $para;
	transition: $para;
}

@mixin transition-property($para1,$para2) {
  -webkit-transition-property: $para1, $para2;
	-moz-transition-property: $para1, $para2;
	-o-transition-property: $para1, $para2;
	transition-property: $para1, $para2;
}

@mixin transform($para) {
  -webkit-transform: $para;
	-moz-transform: $para;
	-o-transform: $para;
	transform: $para;
}

//typeface
$lato: 'Lato', sans-serif;
$lora: 'Lora', serif;


//colors
$midnight-green: #0B5351;
$darkjungle-green: #092327;
$russian-green: #69995D;
$lightfrench-beige: #CBAC88;
$gainsboro: #DCE1E9;
$gradient :linear-gradient(to bottom, $midnight-green, $lightfrench-beige);

/*=================== GENERAL STYLE ======================*/

body {
  font: 100%/1.6 $lato;
  font-size: 1.194em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: $darkjungle-green;
  text-align: left;
  background: url("../Icons/background.png") repeat-x, linear-gradient(to top, $gainsboro 60%, $russian-green);
  background-position: bottom;
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  margin: 0 0.5em;
}

section {
  text-align: center;
  padding-top: 10em;
  margin: auto;
  .section-title {
    font-style: italic;
    font-size: 3.125em;
    font-family: $lato;
    display: inline-block;
  }
}

footer {
  margin-top: 5em;
  text-align: center;
}

.highlight {
  width: 100%;
  height: 60px;
  background: linear-gradient(to right, $midnight-green, $lightfrench-beige);
  position: relative;
  top: -60px;
  z-index: -1;
  opacity: 0.7;
}

.slide-in {
  transform: translateX(100px);
  animation: slide-in .5s ease forwards;
}
@keyframes slide-in {
  to { transform: translateX(0);}
}
.come-in {
  transform: translateY(200px);
  animation: come-in 3s ease forwards;
  &:nth-child(odd) { animation-duration: 1.5s; } /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}

.turn-right {
  animation: turn-right .5s ease-in-out forwards;
    &:nth-child(1) {animation-delay: .1s;}
    &:nth-child(2) {animation-delay: .2s;}
    &:nth-child(3) {animation-delay: .3s;}
    &:nth-child(4) {animation-delay: .4s;}
    &:nth-child(5) {animation-delay: .5s;}
    &:nth-child(6) {animation-delay: .6s;}
    &:nth-child(7) {animation-delay: .7s;}
    &:nth-child(8) {animation-delay: .8s;}
}

@keyframes turn-right {
  0% { transform: translateX(0px); }

  50% { transform: translateX(35px); }

  100% { transform: translateX(0px); }
}

/*=================== END OF GENERAL STYLE ======================*/



/*=================== HEADER STYLE ======================*/
.nav-bg {
  background: rgba($russian-green, .1);
}

.nav-show {
  background: rgba($russian-green, .9);
  box-shadow: 0 1px 2px rgba($midnight-green, .6);
}

.transition {
  @include transition(all .5s ease-in-out);
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.navigation-bar {
  padding: 0.2em;
  margin-bottom: 3em;
}
#logo-img {
  width: 3em;
  height: 3em;
  transition: all 2s ease-in-out;
  animation: fadeIn 2s;
  position: relative;
  left: 0.2em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#burger-nav {
  float: right;
  position: relative;
  top: 1em;
  right: 0.9em;
  cursor: pointer;
  width: 2.5em;
  span {
    background: $gainsboro;
    display: block;
    text-align: center;
    width: 2.5em;
    height: 3px;
    margin-bottom: 9.5px;
    position: relative;
    top: 0;
    transition: all ease-in-out .4s;
  }
}


#burger-nav.open { // burger nav button after click
z-index: 333;
  span:nth-child(1) {
    transform:rotate(45deg);
    background: $gainsboro;
    top: 13px;
  }

  span:nth-child(3) {
    transform:rotate(-45deg);
    top: -13px;
    background: $gainsboro;
  }

  span:nth-child(2) {
    width: 0;
    opacity: 0;
  }
}

//OVERLAY MENU
.overlay {
    position: fixed;
    background: $darkjungle-green;
    top: 0;
    right: 0;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
    overflow: hidden;
    &.drop {
        opacity: .8;
        visibility: visible;
        width: 100%;
        height: 100%;
        li {
            display: block;
            animation: fadeInRight .4s cubic-bezier(.42, .83, .7, 1.5) forwards;
            animation-delay: .4s;
            transform: rotate(-7deg);
            transform-origin: right bottom;
            &:nth-of-type(2) {
                animation-delay: .5s;
            }
            &:nth-of-type(3) {
                animation-delay: .6s;
            }
            &:nth-of-type(4) {
                animation-delay: .7s;
            }
            &:nth-of-type(5) {
                animation-delay: .8s;
            }
        }
    }
}

.overlayMenu {
    position: absolute;
    text-align: right;
    right: 10vw;
    top: 20%;
    ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: block;
        position: relative;
        height: 100%;
        li {
            display: block;
            position: relative;
            opacity: 0;
            width: 100%;
            a {
                display: inline-block;
                color: $gainsboro;
                text-decoration: none;
                font-size: 1.618em;
                padding: 10px 40px 10px 40px;
                margin: 5px 0;
                transition: .5s;
                &:hover,
                &:active,
                &:focus {
                    transform: translateX(-2px);
                    padding-left: 80px;
                    color: $lightfrench-beige;
                }
            }
        }
    }
}

.locked {
    overflow: hidden;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 50px;
    }
    100% {
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
    }
}
/*=================== END OF HEADER STYLE ======================*/

/*=================== INTRO SECTION ======================*/
#intro {
  font-family: $lato;
  padding-top: 5em;
  p:nth-child(2) {
    strong {
      color: $midnight-green;
      font-size: 3.125em; 
      text-transform: uppercase;
      text-align: left;
    }
  }
  p:nth-child(n+2) {
    text-align: left;
  }
}
/*=================== END OF INTRO SECTION ======================*/


/*=================== PORTFOLIO SECTION ======================*/
#projects {
  display: inline-block;
  padding: 10em 0 0;
  text-align: center;
  width: 100%;
  margin: auto;
  section {
    margin-top: -10em;
    margin-bottom: 2em;
  }
  figure {
    width: 350px;
    margin: auto;
  }
  figcaption {
    a {
      text-decoration: none;
      color: $lightfrench-beige;
      font-size: 1.618em;
      &:hover {
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.project-nav {
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
  text-decoration: none;
  transition: all 0.1s;
	-webkit-transition: all 0.1s;
      .fancy-button {
        font-family: $lato;
        list-style: none;
        border-radius: 10px;
        width: 30vh;
        background: $midnight-green;
        border-bottom: 5px solid rgba($darkjungle-green, .5);
        margin: 0.5em;
        text-align: center;
        padding: .5em;
        font-size: 0.85em;
        color: $gainsboro;
        &:hover {
          cursor: pointer;
        }
        &:active {
          @include transform(translate(0px,5px));
          border-bottom: 1px solid $darkjungle-green;
        }
      }
}

.screen {
  width: 350px;
  height: 250px;
  position: relative;
  z-index: -1;
  margin: auto;
}

// @keyframes typing { from { width: 0; } }
// @keyframes blink-caret { 50% { border-color: transparent; } }
//
// #screen-text {
//   font: .85em 'Ubuntu Mono', monospace;
//   position: relative;
//   top: -7em;
//   left: 3em;
// 	border-right: .1em solid black;
// 	width: 300px;
//   width: 19ch;
// 	white-space: nowrap;
// 	overflow: hidden;
// 	animation: typing 7s steps(18, end) infinite,
// 	           blink-caret .5s step-end infinite alternate;
// }

/*=================== END OF PORTFOLIO SECTION ======================*/

/*=================== SKILLS SECTION ======================*/
#skill-set {
   width:80%;
   margin: auto;
   padding-top:30px;
   height:auto;
   overflow: none;
}


.skill {
    position:relative;
    display:block;
    margin:0 auto 15px;
    width:100%;
    border-radius: 10px;
    background: rgba($darkjungle-green, .7);
    box-shadow: inset 0 0 2px rgba($darkjungle-green, .5);
    height: 2.5em;
    @include transition(0.4s linear);
    @include transition-property(width, background-color);

    .skill-title, .skill-percentage {
      position: absolute;
      color: $gainsboro;
      font-weight: bold;
      font-size: 1em;
    }
  }

  .skill-title {
    left: 10px;
    top: 8px;
    z-index: 99;
  }

  .skillbar-bar {
    position: absolute;
    border-radius: 10px;
    background: linear-gradient(to right, $midnight-green, $lightfrench-beige);
    height: 2.5em;
    width:0;
  }

  .skill-percentage {
    right: 10px;
    top: 8px;
  }

  /*=================== END OF SKILLS SECTION ======================*/


  /*=================== CONTACT SECTION ======================*/
#contact {
  h3 {
    font-size: 1.618em;
    padding-top: 3em;
    padding-bottom: 40px;
    margin: 0;
  }
  ul {
    padding: 0;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    a {
      li {
        list-style: none;
        img {
          width: 60px;
          height: 60px;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
  /*=================== END OF CONTACT SECTION ======================*/

/*=================== FOOTER SECTION ======================*/
footer {
  a {
    text-decoration: none;
    color: $midnight-green;
    &:hover, &:focus {
      color: $russian-green;
      text-decoration: none;
    }
  }
}